@model FaterRasanehMarket.ViewModels.Identity.ChangePasswordViewModel
<style>
        @@media only screen and (min-width: 400px) {
        .modal-dialog {
            max-width: 350px !important;
        }
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h3 id="modal-title">تغییر کلمه عبور</h3>
                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix">
                <form asp-action="ChangeUserPasswordConfirm">
                    @if (ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    }
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row">
                        <div class="form-group row col-md-12">
                            <div class="col-md-5 mt-1">
                                <label asp-for="Password" class="control-label"></label>
                            </div>
                            <div class="col-md-7 ">
                                <input asp-for="Password" class="form-control" />
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                            <div class="form-group row col-md-12">
                                <div class="col-md-5 mt-1">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                </div>
                                <div class="col-md-7">
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        تغییر کلمه عبور
                    </button>
            </div>
        </div>
    </div>
</div>