

@{
    TempData["State"] = "product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">مدیریت کالا ها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">کالا ها</li>
                        <li class="breadcrumb-item active">مدیریت کالا ها</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="card shadow  w-100">
            <div class="card-body">
                <form action="@Url.Action("Index")">
                    @await Html.PartialAsync("_ProductTable")
                </form>
            </div>
        </div>
    </section>
</div>
@*@if (ViewBag.nonExistentProductsAlert != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            basetoast.warning('<i class="fas fa-exclamation fa-2x"></i> @ViewBag.nonExistentProductsAlert');
        });
    </script>
}*@